
    
    <div class="container-fluid rounded bg-white mt-5 mb-5">
    <div class="row">
      <div class="container-fluid" style="display: flex; justify-content: space-between;">          
                          
</div>
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{data.fName}}</span><span class="text-black-50">{{data.phone}}</span><span> </span></div>
        <a href="/users/logout"class="btn btn-danger d-flex align-items-center text-center justify-content-center" id="hh">Logout</a>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <form action="/users/addProfile" method="post">
                <div class="row mt-2">
                </div>
                <div class="row mt-3">
                                      <div class="col-md-12"><label class="labels">fName</label><input name="fName" type="text" class="form-control"  value="{{data.fName}}"></div>
                                                          <div class="col-md-12"><label class="labels">lName</label><input name="lName" type="text" class="form-control"  value="{{data.lName}}"></div>
                    <div class="col-md-12"><label class="labels">phone</label><input name="phone" type="text" class="form-control"  value="{{data.phone}}"></div>
                    <div class="col-md-12"><label class="labels">Address Line 1</label><input name="address" type="text" class="form-control"  value="{{data.userAddress.address}}"></div>
                    <div class="col-md-12"><label class="labels">Postcode</label><input type="text" name="postCode" class="form-control"  value="{{data.userAddress.postCode}}"></div>
                    <div class="col-md-12"><label class="labels">State</label><input type="text" name="state" class="form-control"  value="{{data.userAddress.state}}"></div>
                                                            <div class="col-md-12"><label class="labels">town</label><input name="town" type="text" class="form-control"  value="{{data.userAddress.town}}"></div>
                    <div class="col-md-12"><label class="labels">Education</label><input type="text" name="education" class="form-control"  value="{{data.userAddress.education}}"></div>
                      <div style="display:none;" class="col-md-12"><label class="labels">Home</label><input type="text" name="home" class="form-control"  value="true"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Country</label><input type="text" name="country" class="form-control" placeholder="country" value="{{data.userAddress.country}}"></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
            </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>
                <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
                                      <a href="/users/passwordReset"class="btn btn-danger ml-auto mt-4">reset password</a>

            </div>
        </div>
    </div>
</div>
</div>
</div>

<style>


.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

</style>