{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/public/stylesheets/cart.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> --}}
<body style="background: #F4F7FD !important;" >

  <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="/users"><images src="images/logo.png" alt=""><h3>FEIZY.com</h3></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="./index.html">Home</a></li>
                            {{!-- <li><a href="#">Women’s</a></li> --}}
                            {{!-- <li><a href="#">Men’s</a></li> --}}
                            <li><a href="/users/shop">Shop</a></li>
                            <li><a href="/users/viewOrder">Orders</a>
                                <ul class="dropdown">
                                    {{!-- <li><a href="./product-details.html">Product Details</a></li> --}}
                                    {{!-- <li><a href="./shop-cart.html">Shop Cart</a></li> --}}
                                    <li><a href="./checkout.html"></a></li>
                                    <li><a href="./blog-details.html"></a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">About us</a></li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">
                            {{#if user}}
                            <a href="/users/account/{{user.email}}">{{user.email}}</a>
                                {{else}}
                            <a href="/users/login">Login</a>
                            {{/if}}
                        </div>
                        <ul class="header__right__widget">
                            <li><span class="icon_search search-switch"></span></li>
                            <li><a href="/users/wishlist"><span class="icon_heart_alt"></span>
                                <div id="wishlist-count" class="tip">{{wishlistCount}}</div>
                            </a></li>
                            <li><a href="/users/cart"><span class="icon_bag_alt"></span>
                            {{!-- -- ---------------------------------------------}}
                                <div id="cart-count" class="tip">{{count}}</div>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
  
    <section class="h-96 h-custom" style="">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                    <h6 class="mb-0 text-muted">{{count}} items</h6>
                  </div>
                  {{!-- <div><a class="btn btn-success" href="/users/couponOffer">Get free Coupon </a></div> --}}
                  <hr class="my-4">




                  
                    {{#if product}}
                  {{#each product}}

                  <div class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                     <a href="/productZoom/{{this.name}}"> <img
                    src="/uploads/{{this.image}}"
                        class="img-fluid rounded-3" alt="Cotton T-shirt"></a>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted">{{this.name}}</h6>
                      <h6 class="text-black mb-0">{{this.brand}}</h6>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <button class="btn btn-link px-2" onclick="decProduct('{{this.productId}}','{{this.quantity}}')">
                        -
                      </button>

                      <input id="form1" min="1" name="quantity" placeholder="{{this.quantity}}" type="number"
                        class="form-control form-control-sm" /> <span>{{this.quantity}}</span>
                       
                       

                      <button class="btn btn-link px-2" onclick="addProductCount('{{this.productId}}','{{this.quantity}}')">
                        +
                      </button>
                    </div>
                    
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0">{{this.total}}</h6>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                    </div>
                     <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <button class="btn btn-danger" onclick="delProduct('{{this.productId}}')">del</button>
                      {{!-- <a href="/users/delete-cart/{{this.productId}}" class="text-muted">del<i class="fas fa-times"></i></a> --}}
                    </div>
                     <div class="col-md-6 col-lg-6 col-xl-6 text-end">
                                          {{#if this.stockLess}}
                      <p style="color:red ;">only {{this.stock}} product available</p>
                         {{/if}}
                    </div>
                 
                  </div>

                  <hr class="my-4">
                  {{/each}}
                <div class="pt-5">
                    <h6 class="mb-0  btn btn-success"><a style="color:white ;" href="/users" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                  </div>
                  {{else}}
                  <div class="container-fluid  mt-100">
				 <div class="row">
				 
					<div class="col-md-12">
					
							<div class="card">
						<div class="card-header">
					
						</div>
						<div class="card-body cart">
								<div class="col-sm-12 empty-cart-cls text-center">
									<img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
									<h3><strong>Your Cart is Empty</strong></h3>
									<h4>Add something to make me happy :</h4>
									<a href="/users" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>
									
								
								</div>
						</div>
				</div>
						
					
					</div>
				 
				 </div>
				
				</div> 

                  {{/if}}
                 

                  

                  
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase" >items <h5 class="ml-auto">:           {{count}}</h5></h5> 
                    <h5></h5>
                  </div>
    

                
                <div class="d-flex justify-content-between mb-5">
                   
                    <h5 class=""> TOTAL <h5 class="ml-auto">:            ${{total.total}} </h5></h5>
                  </div><div>
                               <h5 class="text-uppercase mb-3">total shipping Cost :+${{data.shippingCost}}</h5>
                                    <h5 class="text-uppercase mb-3">total discount :      -${{data.discount}}</h5>
                                    <hr style="color:red ;">
                                     <h5 class="text-uppercase mb-3">Grand Total: {{grandTotal}}</h5>
                  </div>
                    <a class="btn btn-success" href="/users/checkout"> checkout</a>
                  
                  {{!-- <form action="/users/checkout" method="post">
                      <h5 class="text-uppercase mb-3">Give code</h5>

                  <div class="mb-5">
                    <div class="form-outline">
                      <input type="text" name="coupon" id="form3Examplea2" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplea2">Enter your code</label>
                    </div>
                  </div>
                      <button type="submit" class="btn btn-success"
                    data-mdb-ripple-color="dark">checkout</button>
                  </form>

                  <div><p>{{err}}</p></div> --}}

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/javascripts/addToCart.js"></script>
</body>
</html>