<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<link rel="stylesheet" href="/stylesheets/coupon.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
   <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="/users"><images src="images/logo.png" alt=""><h3>FEIZY.com</h3></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="./index.html">Home</a></li>
                            {{!-- <li><a href="#">Women’s</a></li> --}}
                            {{!-- <li><a href="#">Men’s</a></li> --}}
                            <li><a href="/users/shop">Shop</a></li>
                            <li><a href="#">Checkout</a>
                                <ul class="dropdown">
                                    {{!-- <li><a href="./product-details.html">Product Details</a></li> --}}
                                    {{!-- <li><a href="./shop-cart.html">Shop Cart</a></li> --}}
                                    <li><a href="./checkout.html"></a></li>
                                    <li><a href="./blog-details.html"></a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">About us</a></li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">
                            {{#if user}}
                            <a href="/users/account/{{user.email}}">{{user.email}}</a>
                                {{else}}
                            <a href="/users/login">Login</a>
                            {{/if}}
                        </div>
                        {{!-- <ul class="header__right__widget">
                            <li><span class="icon_search search-switch"></span></li>
                            <li><a href="/users/wishlist"><span class="icon_heart_alt"></span>
                                <div id="wishlist-count" class="tip">{{wishlistCount}}</div>
                            </a></li>
                            <li><a href="/users/cart"><span class="icon_bag_alt"></span>
                                <div id="cart-count" class="tip">{{count}}</div>
                            </a></li>
                        </ul> --}}
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
  <div class=" container col-md-10 mt-5 ">
    <div class="row ">
      {{#each data}}
        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-cherry">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0" style="color:white ;">New Offer coupon</h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0" style="color:white ;">
                                {{this.discount}}%
                                off
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span>only {{this.limit}} left<i class="fa fa-arrow-up"></i></span>
                        </div>
                        
                    </div>
                    
                </div>
                <div class=" text-center">
                          <p style="color:white ;">this is your coupon code click on the code for copy this code <hr><p style="color:white ;" id="clipboard" onclick="CopyToClipboard('clipboard')">{{this.couponCode}}</p><hr></p>
                          <a style="color:white ;"  href="/users/cart">back to Cart</a>
                        </div>
            </div>
            
        </div>
       {{/each}}
       
       
    </div>
</div>
</body>
</html>
<script>
    function CopyToClipboard(id)
 {
   console.log(id)
  var r = document.createRange();
  r.selectNode(document.getElementById(id));
  window.getSelection().removeAllRanges();
  window.getSelection().addRange(r);
  document.execCommand('copy');
  window.getSelection().removeAllRanges();
 alert('copied')
 }
</script>

