<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/stylesheets/productZoom.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>  

</head>
<body style="margin-top: 0">

 <header class="header " >
        <div class="container-fluid ">
            <div class="row " >
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="/"><images src="images/logo.png" alt=""><h3 style="color:black ;">BUYLAPS.shop</h3></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            
                            <li><a href="/fullProduct">Shop</a></li>
                            <li><a href="/viewOrder">Orders</a>
                                <ul class="dropdown">
                                   
                                    <li><a ></a></li>
                                    <li><a ></a></li>
                                </ul>
                            </li>
                            <li>
                                 {{#if user}}
                            <a href="/account/{{user.email}}">Profile</a>
                              
                            {{/if}} 
                             </li>
                            
                            
                            <li>
                                <form action="/searchProduct" method="post" class="form-inline mr-auto">
            <input class="form-control mr-sm-2" name="search" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary btn-rounded btn-sm my-0" type="submit">Search</button>
                               </form>
                        </li>
                        </ul>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">
                            {{#if user}}
                            <a href="/account/{{user.email}}">{{user.email}}</a>
                                {{else}}
                            <a href="/login">Login</a>
                            {{/if}}
                        </div>
                        <ul class="header__right__widget">
                            {{!-- <li><span class="icon_search search-switch"></span></li> --}}
                            <li><a href="/wishlist"><span class="icon_heart_alt"></span>
                                <div id="wishlist-count" class="tip">{{wishlistCount}}</div>
                            </a></li>
                            <li><a href="/cart"><span class="icon_bag_alt"></span>
                            {{!-- -- ---------------------------------------------}}
                                <div id="cart-count" class="tip">{{count}}</div>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
   







  {{!-- <section id="services" class="services section-bg">
   <div class="container">
    
      <div class="row row-sm">
         <div class="col-md-6 _boxzoom">
            <div class="zoom-thumb">
               <ul class="piclist">
                  <li><img src="/uploads/{{data.images.[0].img1}}" alt=""></li>
                  <li><img src="/uploads/{{data.images.[0].img2}}" alt=""></li>
                  <li><img src="/uploads/{{data.images.[0].img3}}" alt=""></li>
                  <li><img src="/uploads/{{data.images.[0].img1}}" alt=""></li>
               </ul>
            </div>
            <div class="_product-images">
               <div class="picZoomer">
                  <img class="my_img" src="/uploads/{{data.images.[0].img1}}" alt="">
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="_product-detail-content">
               <p class="_p-name"> {{data.productName}} </p>
               <div class="_p-price-box">
                  <div class="p-list">
                     <span> M.R.P. : <i class="fa fa-inr"></i>  {{data.price}}     </span>
                     <span class="price">  </span>
                  </div>
                
                  <div class="_p-features">
                     <span> Description About this product:- </span>
                    {{data.description}}                     
                  </div>
                  <form action="" method="post" accept-charset="utf-8">
                     <ul class="spe_ul"></ul>
                     <div class="_p-qty-and-cart">
                        <div class="_p-add-cart">
                           <button class="btn-theme btn buy-btn" tabindex="0">
                           <i class="fa fa-shopping-cart"></i> Buy Now
                           </button>
                        
                           <a class="btn-theme btn btn-success" href="/users/toCart/{{data._id}}">add To Cart</a>
                           <input type="hidden" name="pid" value="18" />
                           <input type="hidden" name="price" value="850" />
                           <input type="hidden" name="url" value="" />    
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</section> --}}
<div class="container mt-5 mb-2">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4"> <img id="main-image" src="/uploads/{{data.images.[0].img1}}" width="500" /> </div>
                            <div class="thumbnail text-center"> <img onclick="change_image(this)" src="/uploads/{{data.images.[0].img1}}" width="70"> <img onclick="change_image(this)" src="/uploads/{{data.images.[0].img2}}" width="70">   <img onclick="change_image(this)" src="/uploads/{{data.images.[0].img3}}" width="70"> </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center"> <i class="fa fa-long-arrow-left"></i> <span class="ml-1">
                                 <a href="/" style="color:black ;">Back</a> </span> </div><button class="btn btn-danger text-uppercase mr-2 px-4" onclick="addToCart('{{data._id}}')">Add to cart</button>
                            </div>
                            <div class="mt-4 mb-3"> <span class="text-uppercase text-muted brand">{{data.brand}}</span>
                                <h5 class="text-uppercase"> {{data.productName}}</h5>
                                <div class="price d-flex flex-row align-items-center">
                                    <div class="ml-2"> <small class="dis-price">{{data.price}}</small> <span>$ {{data.discountedPrice}} </span> </div>
                                </div>
                            </div>
                            <p class="about">{{data.description}}</p>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
    </div>
</div>

<div class="container mt-2 mb-2">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-12">
                        {{#if data.review}}
                        <div class=" ">
                            Reviews :
                            {{#each data.review}}
                            <div class="ml-2 "><span>{{this.rating}}  </span> <strong> {{this.fName}} </strong> </div>
                            <div class="thumbnail  mt-2 ">{{this.Review}}  </div>
                            <hr>
                            {{/each}}
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
     
    </div>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> 
 <script src="/javascripts/addToCart.js"></script>
<script>
   function change_image(image){

                 var container = document.getElementById("main-image");

                container.src = image.src;
            }
    


            document.addEventListener("DOMContentLoaded", function(event) {



            



            });
</script>


</body>
</html>