<body>
    <!-- Page Preloder -->


    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li><a href="#"><span class="icon_heart_alt"></span>
                <div class="tip">7</div>
            </a></li>
            <li><a href="#"><span class="icon_bag_alt"></span>
                <div class="tip">{{count.count}}</div>
            </a></li>
        </ul>
        <div class="offcanvas__logo">
            <a href="./index.html"><images src="images/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            {{!-- <a href="/login">Login</a> --}}
        </div>
    </div>
   
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html"><images src="images/logo.png" alt=""><h3>FEIZY.com</h3></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="./index.html">Home</a></li>
                            {{!-- <li><a href="#">Women’s</a></li> --}}
                            {{!-- <li><a href="#">Men’s</a></li> --}}
                            <li><a href="/users/shop">Shop</a></li>
                            <li><a href="#">Checkout</a>
                                <ul class="dropdown">
                                    {{!-- <li><a href="./product-details.html">Product Details</a></li> --}}
                                    {{!-- <li><a href="./shop-cart.html">Shop Cart</a></li> --}}
                                    <li><a href="./checkout.html"></a></li>
                                    <li><a href="./blog-details.html"></a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">About us</a></li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">
                            {{#if user}}
                            <a href="/users/account/{{user.email}}">{{user.email}}</a>
                                {{else}}
                            <a href="/users/login">Login</a>
                            {{/if}}
                        </div>
                        <ul class="header__right__widget">
                            <li><span class="icon_search search-switch"></span></li>
                            <li><a href="/users/wishlist"><span class="icon_heart_alt"></span>
                                <div id="wishlist-count" class="tip">{{count}}</div>
                            </a></li>
                            <li><a href="/users/cart"><span class="icon_bag_alt"></span>
                            {{!-- -- ---------------------------------------------}}
                                <div id="cart-count" class="tip">{{count}}</div>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Categories Section Begin -->
   
   
<!-- Categories Section End -->

<!-- Product Section Begin -->

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>New product</h4>
                </div>
            </div>
           
        </div>
      
        {{!-- <div class="row property__gallery"> --}}
              
             <div class="row property__gallery">
                 {{#each firsttwo}}
            <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                <div class="product__item">
                    <div class="product__item__pic set-bg" >
                      <a href="/productZoom/{{this.productName}}">  <img src="/uploads/{{this.images.[0].img1}}"></a>
                        <div class="label new">New</div>
                           <div class="product__item__text">
                        <h6><a href="#">{{this.productName}}</a></h6>
                         <h6><a href="#">{{this.brand}}</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">${{this.price}}</div>
                    </div>
                        <ul class="product__hover">
                            <li><a  onclick="addToWishlist('{{this._id}}')"><span class="icon_heart_alt"></span></a></li>
                            <li><a  onclick="addToCart('{{this._id}}')"><span class="icon_bag_alt"></span></a></li>
                            {{!-- --- --------------------------------------}}
                        </ul>
                    </div>
                   
                </div>
            </div>
    {{/each}}
             </div>
</section>
<section> <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
                <div class="section-title">
                    <h4>All  product</h4>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">All</li>
                    {{#each brands}}
                <button onclick="getAll('{{this.name}}')">{{this.name}}</button>
                   {{!-- <a style="padding-left:5px ;" onclick="getAll('{{this.name}}')" > <li data-filter=".women">{{this.name}}</li></a> --}}
                   {{/each}}
                 
                </ul>
            </div>
        </div></section>
 <section class="product spad">
    <div class="container">
        <div class="row">
            {{!-- <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>New product</h4>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">All</li>
                    <li data-filter=".women">Women’s</li>
                    <li data-filter=".men">Men’s</li>
                    <li data-filter=".kid">Kid’s</li>
                    <li data-filter=".accessories">Accessories</li>
                    <li data-filter=".cosmetic">Cosmetics</li>
                </ul>
            </div>
        </div> --}}

        <div class="row property__gallery" id="luck">
                                      {{#each product}}
            <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                <div class="product__item">
                    <div class="product__item__pic set-bg" >
                      <a href="/productZoom/{{this.productName}}">  <img src="/uploads/{{this.images.[0].img1}}"></a>
                        <div class="label new">New</div>
                           <div class="product__item__text">
                        <h6><a href="#">{{this.productName}}</a></h6>
                         <h6><a href="#">{{this.brand}}</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">${{this.price}}</div>
                    </div>
                        <ul class="product__hover">
                            <li><a  onclick="addToWishlist('{{this._id}}')"><span class="icon_heart_alt"></span></a></li>
                            <li><a  onclick="addToCart('{{this._id}}')"><span class="icon_bag_alt"></span></a></li>
                            {{!-- --- --------------------------------------}}
                        </ul>
                    </div>
                   
                </div>
            </div>
            
           
          
            {{/each}}
           
          
          
        </div>
    </div>
</section>


    {{!-- <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>All  product</h4>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">All</li>
                   <a style="padding-left:5px ;" href="/users/Samsung"> <li data-filter=".women">Samsung</li></a>
                   <a style="padding-left:5px ;" href="/users/Dell"> <li data-filter=".men">Dell</li></a>
                   <a style="padding-left:5px ;" href="/users/Asus"> <li data-filter=".kid">Asus</li></a>
                   <a style="padding-left:5px ;" href="/users/Hp"> <li data-filter=".accessories">Hp</li></a>
                    <a style="padding-left:5px ;" href="/users/Apple"><li data-filter=".cosmetic">Apple</li></a>
                </ul>
            </div>
        </div> --}}
      
        {{!-- <div class="row property__gallery">
              {{#each product}}
            <div class="col-lg-3 col-md-4 col-sm-6 ">
                <div class="product__item">
                    
                       
                       
                          <div class="card " style="height:600px " >
  <a href="/productZoom/{{this.productName}} " ><img src="/uploads/{{this.images.[0].img1}}" class="card-img-top" alt="image"></a>
  <div class="card-body">
    
<h5 class="card-title">{{this.brand}}</h5>
    <p class="card-text">{{this.description}}</p>
      <div class="product__item__text">
                        <h6><a href="#">{{this.productName}}</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">${{this.price}}</div>
                    </div>
    {{!-- <a href="/users/add-to-cart/{{this._id}}" class="btn btn-primary">Add to cart</a> --}}
  {{!-- <button style="margin-left: 56px;" onclick="addToCart('{{this._id}}')" class="btn btn-primary mb-0 align-items-center">Add to cart</button>
  </div>
</div>
                    </div>
                </div>
            </div>
    {{/each}}  --}}
           

<!-- Services Section Begin -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-car"></i>
                    <h6>Free Shipping</h6>
                    <p>For all oder over $99</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-money"></i>
                    <h6>Money Back Guarantee</h6>
                    <p>If good have Problems</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-support"></i>
                    <h6>Online Support 24/7</h6>
                    <p>Dedicated support</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-headphones"></i>
                    <h6>Payment Secure</h6>
                    <p>100% secure payment</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->

<!-- Instagram Begin -->
<div class="instagram">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="images/instagram/insta-1.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="images/instagram/insta-2.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="images/instagram/insta-3.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="images/instagram/insta-4.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="images/instagram/insta-5.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="images/instagram/insta-6.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Instagram End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="./index.html"><images src="images/logo.png" alt=""></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    cilisis.</p>
                    <div class="footer__payment">
                        <a href="#"><images src="images/payment/payment-1.png" alt=""></a>
                        <a href="#"><images src="images/payment/payment-2.png" alt=""></a>
                        <a href="#"><images src="images/payment/payment-3.png" alt=""></a>
                        <a href="#"><images src="images/payment/payment-4.png" alt=""></a>
                        <a href="#"><images src="images/payment/payment-5.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>Quick links</h6>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>Account</h6>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Orders Tracking</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Wishlist</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <h6>NEWSLETTER</h6>
                    <form action="#">
                        <input type="text" placeholder="Email">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <div class="footer__copyright__text">
                    <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                </div>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> 
 <script src="javascripts/addToCart.js"></script>
 </body>
