

<body >
    <!-- Page Preloder -->


    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
           
            <li><a href="/wishlist"><span class="icon_heart_alt"></span>
                <div class="tip">{{wishlistCount}}</div>
            </a></li>
            <li><a href="/cart"><span class="icon_bag_alt"></span>
                <div class="tip">{{count}}</div>
            </a></li>
        </ul>
        <div class="offcanvas__logo">
            <a href="./index.html"><images src="images/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
                        {{#if user}}
                            <a href="/account/{{user.email}}">{{user.email}}</a>
                                {{else}}
                            <a href="/login">Login</a>
                            {{/if}}        
                            </div>
    </div>
   
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header " style="margin-top:0 ;" >
        <div class="container-fluid ">
            <div class="row " >
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="/"><images src="images/logo.png" alt=""><h3>BUYLAPS.shop</h3></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            
                            <li><a href="/fullProduct">Shop</a></li>
                            <li><a href="/viewOrder">Orders</a>
                              
                            </li>
                            <li>
                                 {{#if user}}
                            <a href="/account/{{user.email}}">Profile</a>
                              
                            {{/if}} 
                             </li>
                            
                            
                            <li>
                                <form action="/searchProduct" method="post" class="form-inline mr-auto">
            <input class="form-control mr-sm-2" name="search" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary btn-rounded btn-sm my-0" type="submit">Search</button>
                               </form>
                        </li>
                        </ul>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">
                            {{#if user}}
                            <a href="/account/{{user.email}}">{{user.email}}</a>
                                {{else}}
                            <a href="/login">Login</a>
                            {{/if}}
                        </div>
                        <ul class="header__right__widget">
                            <li><a href="/wishlist"><span class="icon_heart_alt"></span>
                                <div id="wishlist-count" class="tip">{{wishlistCount}}</div>
                            </a></li>
                            <li><a href="/cart"><span class="icon_bag_alt"></span>
                            {{!-- -- ---------------------------------------------}}
                                <div id="cart-count" class="tip">{{count}}</div>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Categories Section Begin -->
   
   <section>
      <div class="container-fluid">
           <div  id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img   src="https://static-ecapac.acer.com/media/magestore/bannerslider/images/2/2/2205_smb-bundle-banner_1920x720.jpg" class="d-block w-100 img-responsive" alt="">
    </div>
    <div class="carousel-item">
      <img  src="https://static-ecapac.acer.com/media/magestore/bannerslider/images/2/2/2205_nitro-5_estore-banner_1920x720.jpg" class="d-block w-100" alt="">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
      </div>
   </section>

   
    <section class="mt-4 overflow-auto "  style="text-decoration:none ; background: #1c153f;  width:100%; ">
        <div class=" d-flex flex-row bd-highlight mt-5 mb-3 justify-content-center overflow-auto align-items-sm-center" >
   {{#each category}}
     <div class="sticky-lg-top bd-highlight" style="height:4rem;">
      <a  style="color:white;  font-family: Arial, Helvetica, sans-serif; font-weight: 900; text-transform: capitalize;" class="fs-6 ps-5" href="/categoryProducts/{{this.name}}">{{this.name}}</a>
    </div>
    {{/each}}
   </div>
    </section>
     
  

<!-- Product Section Begin -->

<section class="product spad" >
    <div class="container">
        <div class="row" >
            <div class="col-lg-4 col-md-4">
                <div class="section-title" >
                    <h4 style="color:#1c153f;">New Arrivals</h4>
                </div>
            </div>
           
        </div>
      
        {{!-- <div class="row property__gallery"> --}}
              
             <div class="row property__gallery bg-white " >
                 {{#each firsttwo}}
            <div class="col-lg-3 col-md-4 col-sm-6 mt-3">
                <div class="product__item"  >
                    <div class="product__item__pic set-bg  mt-2" >
                      <a href="/productZoom/{{this.productName}}">  <img class="img-responsive" src="/uploads/{{this.images.[0].img1}}"></a>
                        <div class="label new ms-auto">New</div>
                           <div class="product__item__text "  style="margin-left: -40px;margin-top: -10px;">
                        <h6><a >{{this.productName}}</a></h6>
                         <h6><a >{{this.brand}}</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price" >${{this.discountedPrice}} <span>${{this.price}} </span></div>
                    </div>
                        <ul class="product__hover">
                            <li><a  onclick="addToWishlist('{{this._id}}')"><span class="icon_heart_alt"></span></a></li>
                            <li><a  onclick="addToCart('{{this._id}}')"><span class="icon_bag_alt"></span></a></li>
                            {{!-- --- --------------------------------------}}
                        </ul>
                    </div>
                   
                </div>
            </div>
    {{/each}}
             </div>
</section>
<section>
   <div class="container">
       
   </div>
</section>

<section >

    <div class="container">
        <div class="row">
            <div class="col-md-3">
               <a href="/brandProduct/Acer">  <img src="https://cdn.shortpixel.ai/spai/q_lossless+w_740+to_webp+ret_img/https://brandyuva.in/wp-content/uploads/2017/09/acer-laptop-logo.png" alt=""></a>
            </div>
            <div class="col-md-3">
               <a href="/brandProduct/Apple"><img src="https://cdn.shortpixel.ai/spai/q_lossless+w_740+to_webp+ret_img/https://brandyuva.in/wp-content/uploads/2017/09/apple-laptop-logo.jpg" alt=""></a> 
            </div>
            <div class="col-md-3">
               <a href="/brandProduct/Azuz"> <img src="https://cdn.shortpixel.ai/spai/q_lossless+w_740+to_webp+ret_img/https://brandyuva.in/wp-content/uploads/2017/09/asus-laptop-logo.png" alt=""></a>
            </div>
            <div class="col-md-3">
                <a href="/brandProduct/Compaq"><img src="https://cdn.shortpixel.ai/spai/q_lossless+w_740+to_webp+ret_img/https://brandyuva.in/wp-content/uploads/2017/09/compaq-laptop-logo.png" alt=""></a>
            </div>
        </div>
    </div>
</section>
<section>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-3">
              <a href="/brandProduct/Dell">  <img src="https://cdn.shortpixel.ai/spai/q_lossless+w_740+to_webp+ret_img/https://brandyuva.in/wp-content/uploads/2017/09/dell-laptop-logo.png" alt=""></a>
            </div>
            <div class="col-md-3">
              <a href="/brandProduct/Hp"> <img src="https://cdn.shortpixel.ai/spai/q_lossless+w_740+to_webp+ret_img/https://brandyuva.in/wp-content/uploads/2017/09/hp-laptop-logo.jpg" alt=""></a> 
            </div>
            <div class="col-md-3">
              <a href="/brandProduct/Intel"> <img src="https://cdn.shortpixel.ai/spai/q_lossless+w_740+to_webp+ret_img/https://brandyuva.in/wp-content/uploads/2017/09/intel-laptop-logo.png" alt=""></a> 
            </div>
             <div class="col-md-3">
               <a href="/brandProduct/Lenovo"><img src="https://cdn.shortpixel.ai/spai/q_lossless+w_740+to_webp+ret_img/https://brandyuva.in/wp-content/uploads/2017/09/lenovo-laptop-logo.png" alt=""></a> 
            </div>
        </div>
    </div>
</section>

<section id="all"> <div class="container mt-5">
        <div class="row" >
            <div class="col-lg-4 col-md-4 col-12">
                <div class="section-title">
                    <h4>All  product</h4>
                </div>
            </div>
            <div class="col-lg-8 col-md-8" >
                <ul class="filter__controls" >
                    <li class="active" data-filter="*"> <a style="color:black ;" href="/">All</a> </li>
                    {{#each brands}}
                <button style="background: #1c153f; color: white; border-radius: 13px; width: 55px;border: none;font-weight: 500;" onclick="getAll('{{this.name}}')">{{this.name}}</button>

                   {{/each}}
                 
                </ul>
            </div>
        </div></section>
        



 <section class="product spad" id="allProducts">
    <div class="container" >
        <div class="row"  >
           

        <div class="row property__gallery bg-white"  id="parent">
                                      {{#each product}}
            <div class="col-lg-3 col-md-4 col-sm-6 mix women mt-3" id="loop"  >
                <div class="product__item" >
                    <div class="product__item__pic set-bg mt-2 " >
                      <a class="" href="/productZoom/{{this.productName}}">  <img src="/uploads/{{this.images.[0].img1}}" class="prodImg"></a>
                           <div class="product__item__text" style="margin-left: -40px;">
                        <h6><a >{{this.productName}}</a></h6>
                         <h6><a >{{this.brand}}</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">${{this.discountedPrice}} <span style="color:#b1b0b0;">${{this.price}}</span></div>
                    </div>
                        <ul class="product__hover">
                            <li><a  onclick="addToWishlist('{{this._id}}')" ><span class="icon_heart_alt"></span></a></li>
                            <li><a  class="tag" onclick="addToCart('{{this._id}}')"><span class="icon_bag_alt"></span></a></li>
                            {{!-- --- --------------------------------------}}
                        </ul>
                    </div>
                   
                </div>
            </div>
            
           
          
            {{/each}}
           
          
          
        </div>
    </div>
</section>



  



           <div id="div-container">
                

</div>








<!-- Services Section Begin -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-car"></i>
                    <h6>Free Shipping</h6>
                    <p>For all oder over $99</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-money"></i>
                    <h6>Money Back Guarantee</h6>
                    <p>If good have Problems</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-support"></i>
                    <h6>Online Support 24/7</h6>
                    <p>Dedicated support</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-headphones"></i>
                    <h6>Payment Secure</h6>
                    <p>100% secure payment</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->




<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="./index.html"><images src="images/logo.png" alt=""></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    cilisis.</p>
                    <div class="footer__payment">
                        <a href="#"><images src="images/payment/payment-1.png" alt=""></a>
                        <a href="#"><images src="images/payment/payment-2.png" alt=""></a>
                        <a href="#"><images src="images/payment/payment-3.png" alt=""></a>
                        <a href="#"><images src="images/payment/payment-4.png" alt=""></a>
                        <a href="#"><images src="images/payment/payment-5.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>Quick links</h6>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>Account</h6>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Orders Tracking</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Wishlist</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <h6>NEWSLETTER</h6>
                    <form action="#">
                        <input type="text" placeholder="Email">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <div class="footer__copyright__text">
                    <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                </div>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form  action="/users/search" method="get" class="search-model-form">
            <input type="text" id="search-input" name="search" placeholder="Search here.....">
            <button type="submit">submit</button>
        </form>
      <div id="searchedResponse">

        </div>
    </div>
    
      
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 {{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>  --}}
 <script src="/javascripts/addToCart.js"></script>
 </body>


<style>
    @media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
</style>