<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/public/stylesheets/cart.css">
    <link rel="stylesheet" href="/stylesheets/emptyWishlist.css">
    <link rel="stylesheet" href="/stylesheets/wishlist.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>

   <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li><a href="/users/wishlist"><span class="icon_heart_alt"></span>
                <div class="tip">{{wishlistCount}}</div>
            </a></li>
            <li><a href="/users/cart"><span class="icon_bag_alt"></span>
                <div class="tip">{{count}}</div>
            </a></li>
        </ul>
        <div class="offcanvas__logo">
            <a href="./index.html"><images src="images/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
                        {{#if user}}
                            <a href="/users/account/{{user.email}}">{{user.email}}</a>
                                {{else}}
                            <a href="/users/login">Login</a>
                            {{/if}}        </div>
    </div>
   

   <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="/users"><images src="images/logo.png" alt=""><h3>FEIZY.com</h3></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="./index.html">Home</a></li>
                           
                            <li><a href="/users">Shop</a></li>
                            <li><a href="/users/viewOrder">Orders</a>
                                <ul class="dropdown">
                                    
                                    <li><a href="./checkout.html"></a></li>
                                    <li><a href="./blog-details.html"></a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">About us</a></li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">
                            {{#if user}}
                            <a href="/users/account/{{user.email}}">{{user.email}}</a>
                                {{else}}
                            <a href="/users/login">Login</a>
                            {{/if}}
                        </div>
                        <ul class="header__right__widget">
                            <li><span class="icon_search search-switch"></span></li>
                            <li><a href="/users/wishlist"><span class="icon_heart_alt"></span>
                                <div id="wishlist-count" class="tip">{{wishlistCount}}</div>
                            </a></li>
                            <li><a href="/users/cart"><span class="icon_bag_alt"></span>
                            {{!-- -- ---------------------------------------------}}
                                <div id="cart-count" class="tip">{{count}}</div>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>

   

<section>
	<div class="cart-wrap">
		<div class="container">
	        <div class="row">
                                 

			    <div class="col-md-12">
			        <div class="main-heading mb-10">My wishlist</div>
			        <div class="table-wishlist">
                           {{#if wishProduct}}
				        <table cellpadding="0" cellspacing="0" border="0" width="100%">
				        	<thead>
					        	<tr>
					        		<th width="45%">Product Name</th>
					        		<th width="15%">Unit Price</th>
					        		<th width="15%">Stock Status</th>
					        		<th width="15%"></th>
					        		<th width="10%"></th>
					        	</tr>
					        </thead>
					        <tbody>
                              
                                  {{#each wishProduct}}
					        	<tr>
					        		<td width="45%">
					        			<div class="display-flex align-center">
		                                    <div class="img-product">
		                                         <a href="/productZoom/{{this.productName}}">  <img
                    src="/uploads/{{this.images.[0].img1}}"
                        class="img-fluid rounded-3" alt="Cotton T-shirt">
                        </a>
		                                    </div>
		                                    <div class="name-product">
		                                        {{this.productName}}
		                                    </div>
	                                    </div>
	                                </td>
					        		<td width="15%" class="price">{{this.price}}</td>
					        		<td width="15%"><span class="in-stock-box">In Stock</span></td>
					        		<td width="15%"> <button class="btn btn-success" onclick="addToCart('{{this._id}}')">To Cart</button></td>
					        		<td width="10%" class="text-center"><button class="btn btn-danger" onclick="delWishlist('{{this._id}}')">del</button></td>
					        	</tr>
					        	  {{/each}}
               
				        	</tbody>
				        </table>
                        
                          <div class="pt-5" >
                    <h6 class="mb-0 btn btn-success" ><a href="/users"  style="color:white" class="text-body" ><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                  </div>

                        {{else}}

<div class="container-fluid  mt-100">
				 <div class="row">
				 
					<div class="col-md-12">
					
							<div class="card">
						<div class="card-header">
					
						</div>
						<div class="card-body cart">
								<div class="col-sm-12 empty-cart-cls text-center">
									<img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
									<h3><strong>Your Wishlist is Empty</strong></h3>
									<h4>Add something to make me happy :</h4>
									<a href="/users" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>
									
								
								</div>
						</div>
				</div>
						
					
					</div>
				 
				 </div>
				
				</div>    
                         {{/if}}
				    </div>
			    </div>
              
			</div>
		</div>
	</div>


</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> 
<script type="text/javascript">
  function delWishlist(proId){
    $.ajax({
        url:'/users/delete-wishlist/'+proId,
          method:'get',
        success:(response)=>{
            location.reload();
            alert('product deleted from wishhlist successfully')
        }
    })
}
function addToCart(proId){
    $.ajax({
        url:'/users/add-to-cart/'+proId,
        method:'get',
        success:(response)=>{
            if(response.status){
                $('#cart-count').html(response.count)
                alert('Item added to Cart')
            }
            else{
                alert('please login first')
            }
        }, 
      
    })
}
</script>

 <script src="javascripts/jquery-3.3.1.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/jquery.magnific-popup.min.js"></script>
<script src="javascripts/jquery-ui.min.js"></script>
<script src="javascripts/mixitup.min.js"></script>
<script src="javascripts/jquery.countdown.min.js"></script>
<script src="javascripts/jquery.slicknav.js"></script>
<script src="javascripts/owl.carousel.min.js"></script>
<script src="javascripts/jquery.nicescroll.min.js"></script>
<script src="javascripts/main.js"></script>

</body>
</html>